body, html{
  height:100%;
  margin:0;
  font-size:15px;
  font-family:"Lato", sans-serif, helvetica;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}
/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

/* Header **/
header{
  background: #242A2D;
  color:#F8F9EA;
  padding-top:5px;
  min-height:50px;
  border-bottom:#DD4600 5px solid;
}

header a{
  color:#F8F9EA;
  text-decoration:none;
  text-transform: uppercase;
}

header li{
  float:left;
  display:inline;
  padding: 0 30px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:10px;
}

header nav{
  float:right;
  margin-top:-5px;
}

header .highlight, header .current a{
  color:#DD4600;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/coverai.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/aitwo.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/aithree.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color: black;
  font-size:40px;
  letter-spacing:8px;
  text-transform:uppercase;
  opacity: 0.9
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
